h1{
    color: color-mix(in hsl shorter hue, color percentage, color percentage);
    font-family: fantasy;
    background-color: aqua;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
    text-align: center;
  }

  p {
    color: #f00; 
    font-style: italic;
  }
  