
div p{
    padding-left: 60px;
    text-align: center;
    color: rgb(0, 0, 10);
    
}
div.p:hover{
    color: blue;
}

div h1{
    text-align: center;
    padding-right: 50px;
}
#key{
    color: rgb(4, 0, 255);
    font-size: medium;
}
#key:hover{
    color: crimson;
}
#key:focus{
    color: crimson;
}
.list{
    padding-right: 50px;
    float: right;


}
