h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
div a#link{
    text-align:center;
    color: blue;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
p{
    font-size: medium;
    color: black;

}