#vcard-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
#vcard-button button{
    flex-basis: 48%;
    background-color: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
  }
  div button:hover{
    box-shadow: 0px 0px 5px #3c00a0,
    0px 0px 30px #3c00a0,
    0px 0px 90px #3c00a0;
  }
